{% for icon in favicons() %}
  <{{ icon.tag }} {{ icon.attr|xmlattr }}>
{% endfor %}
{% if theme.theme_color %}
<meta name="msapplication-TileColor" content="{{ theme.theme_color }}">
<meta name="theme-color" content="{{ theme.theme_color }}">
{% endif %}
