<title>{{ site_title() }}{{ config.title }}</title>
<meta charset="utf8" />
<meta name="X-UA-Compatible" content="IE=edge" />
{{
  open_graph({
    title: site_title() + config.title,
    url: url_for(url),
    image: thumbnail()
  })
}}
<meta name="description" content="{{ desc() }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% include "partial/head/favicon.njk" %}
{% include "partial/head/css.njk" %}
{# {% include "partial/head/prefetch.njk" %} #}
{% include "partial/head/scripts.njk" %}