<div class="post">
  <article class="post-block">
    <h1 class="post-title">{{ item.title }}</h1>
    {% include "partial/post/post-info.njk" %}
    <div class="post-content">{{ item.content|safe }}</div>
  </article>
</div>
{% include "partial/comment.njk" %}