<div class="post-info">
  {{ full_date(item.date, 'll') }}
  {% if item.from and (is_home() or is_post()) %}
    <a class="post-from" href="{{ item.from }}" target="_blank" title="{{ item.from }}">
      {{ __('translated') }}
    </a>
  {% endif %}
</div>