{% extends "_layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('/css/spectre-custom.css') }}" />
  {{ super() }}
  <style>
    /* Fix css polution between hexo-theme-cowsay and spectre */
    main.container {
      padding-left: inherit;
      padding-right: inherit;
      width: inherit;
    }

    .friend-list > h2 {
      color: inherit;
      line-height: 1.6;
      margin: 0;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-size: 1.5em;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block container %}
  
  <div class="friend-list">
    <h2>{{ __('friend_list') }}</h2>
    <div class="desc">{{ page.content|safe }}</div>
    <div class="container">
      {% for friend in listFriends(page.friend_list) %}
        <div class="card friend tooltip tooltip-{{ 'right' if (loop.index % 2) === 1 else 'left' }} rainbow{{ loop.index0 % 8 }}" data-tooltip="{{ friend.description or friend.href }}">
          <a href="{{ friend.href }}" target="_blank">
            <div class="card-body">
              <div class="rel-wrapper">
                {% if friend.thumbnail %}
                  {% include "partial/friends/thumb.njk" %}
                {% endif %}
                <div class="info-container">
                  <div class="card-title h4">{{ friend.site }}</div>
                  <div class="card-subtitle">{{ friend.name }}</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include "partial/comment.njk" %}
{% endblock %}