.friend-list {
  width: 500px;
  margin: 5em auto;

  > .container {
    padding: 50px;
  }

  > .desc {
    color: #7f8c8d;
    margin: 1.2em 0;
  }

  .card.friend {
    position: relative;
    width: 300px;
    height: 100px;
    border: 0;
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
    margin-bottom: 20px;

    &.rainbow0 {
      background-color: #e6261f;
    }

    &.rainbow1 {
      background-color: #eb7532;
    }

    &.rainbow2 {
      background-color: #f7d038;
    }

    &.rainbow3 {
      background-color: #a3e048;
    }

    &.rainbow4 {
      background-color: #49da9a;
    }

    &.rainbow5 {
      background-color: #34bbe6;
    }

    &.rainbow6 {
      background-color: #4355db;
    }

    &.rainbow7 {
      background-color: #d23be7;
    }

    &.rainbow0,
    &.rainbow1,
    &.rainbow6,
    &.rainbow7 {
      .card-title {
        color: #fff;
      }

      .card-subtitle {
        color: rgba(255, 255, 255, .7);
      }
    }

    &.rainbow2,
    &.rainbow3,
    &.rainbow4,
    &.rainbow5 {
      .card-title {
        color: #2c3e50;
      }

      .card-subtitle {
        color: #546a81;
      }
    }

    .rel-wrapper {
      position: relative;
    }

    &.tooltip-right {
      right: calc(50px - .4rem);

      .thumb-container {
        left: 0;
      }
      .info-container {
        left: calc(75px + .8rem);
        right: 0;
      }
    }

    &.tooltip-left {
      left: calc(50px - .4rem);

      .thumb-container {
        right: 0;
      }
      .info-container {
        left: 0;
        right: 75px;
      }
    }
  
    &.tooltip::after {
      font-size: .9rem;
    }

    &.tooltip.tooltip-right::after {
      left: calc(100% + .8em);
    }

    &.tooltip.tooltip-left::after {
      right: calc(100% + .8em);
    }

    .thumb-container {
      position: absolute;
      top: 0;
      width: 75px;
      height: 75px;

      > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .info-container {
      position: absolute;
      top: 0;
      height: 75px;
      padding-top: 12px;
    }
  }
}
